p{
    color:aquamarine
}
a:link{
    color:blue;
    text-decoration: none;
    background-color: yellow;
}
a:hover{
    color:red;
    text-decoration: underline;
    background-color: lightgray;
}
A:visited{
    color:green;
    text-decoration: none;
    background-color: pink;
}